body{
    background-color: orangered;
}

.title{
    
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    
    
}

.about{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;

}

.list{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.subsection{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.image{
    text-align: center;
}